<h1 *ngIf="isAddMode">Create Team</h1>
<h1 *ngIf="!isAddMode">Edit Team</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Team Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Team Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">Location is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Coach</label>
        <input type="text" formControlName="coach" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.coach.errors }" />
        <div *ngIf="submitted && f.coach.errors" class="invalid-feedback">
            <div *ngIf="f.coach.errors.required">Coach is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Region</label>
        <input type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }" />
        <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
            <div *ngIf="f.region.errors.required">Region is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Manager</label>
        <input type="text" formControlName="manager" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.manager.errors }" />
        <div *ngIf="submitted && f.manager.errors" class="invalid-feedback">
            <div *ngIf="f.manager.errors.required">Manager is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/teams" class="btn btn-link">Cancel</a>
    </div>
</form>
