<h1 *ngIf="isAddMode">Create Player</h1>
<h1 *ngIf="!isAddMode">Edit Player</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>In-game Name</label>
        <input type="text" formControlName="ingameName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ingameName.errors }" />
        <div *ngIf="submitted && f.ingameName.errors" class="invalid-feedback">
            <div *ngIf="f.ingameName.errors.required">In-game Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Nationality</label>
        <input type="text" formControlName="nationality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" />
        <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
            <div *ngIf="f.nationality.errors.required">Nationality is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" formControlName="born" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.born.errors }" />
        <div *ngIf="submitted && f.born.errors" class="invalid-feedback">
            <div *ngIf="f.born.errors.required">Date of Birth is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Region</label>
        <input type="text" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }" />
        <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
            <div *ngIf="f.region.errors.required">Region is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Role</label>
        <input type="text" formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" />
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
            <div *ngIf="f.role.errors.required">Role is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Team</label>
        <select formControlName="teamId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.teamId.errors }">
            <option *ngFor="let team of teams" [value]="team.teamId">{{ team.name }}</option>
        </select>
        <div *ngIf="submitted && f.teamId.errors" class="invalid-feedback">
            <div *ngIf="f.teamId.errors.required">Team is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/players" class="btn btn-link">Cancel</a>
    </div>
</form>
