<h1>Accounts</h1>
<p>All accounts from secure (admin only) api end point:</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Account</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%" bgcolor="white" >Name</th>
            <th style="width:30%"bgcolor="white">Email</th>
            <th style="width:30%"bgcolor="white">Role</th>
            <th style="width:30%"bgcolor="white">Status</th>
            <th style="width:10%"bgcolor="white"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td bgcolor="white">{{account.title}} {{account.firstName}} {{account.lastName}}</td>
            <td bgcolor="white">{{account.email}}</td>
            <td bgcolor="white">{{account.role}}</td>
            <td bgcolor="white">{{ account.isActive ? 'Active' : 'Inactive' }}</td>
            <td bgcolor="white" style="white-space: nowrap">
                <a routerLink="edit/{{account.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <!--<button (click)="deleteAccount(account.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="account.isDeleting">
                    <span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!account.isDeleting">Delete</span>
                </button>-->
            </td>
        </tr>
        <tr *ngIf="!accounts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>